  <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">

          <div class="row">

            <div class="col-lg-8">

              <div class="row">

                <div class="col-sm-5">

                  <div class="footer-info">
                    <img src="./images/logo.jpg" width="200px" alt="">
                    <p>Wellness for Greatness Kenya is a health and fitness organization founded to run the Transforming
                      Ordinary into
                      Extraordinary wellness program. The Program strives to inculcate Fitness into the daily lives of
                      the school youth,
                      adults and community. We believe that our lives should be a journey into keeping ourselves
                      healthy, fit and able-bodied
                      through our progressive years.
                    </p>
                  </div>

                </div>
                <div class="footer-links col-sm-4">
                  <h4>Contact Us</h4>
                  <p>
                    Woodlands Business Park,<br />
                    2nd Floor, Suite No. 8.<br />
                    Kiambere Road,
                    Upperhill, Nairobi. <br />

                    <strong>Phone:</strong><br /><i class="fa fa-phone"></i> 0207858256 <br />
                    <i class="fa fa-phone"></i> 0207858256 <br />
                    <i class="fa fa-phone"></i> 0717212349<br>

                    <strong>Email:</strong><br>
                    <i class="fa fa-envelope"></i> info@wellnessforgreatness.org <br>
                    <i class="fa fa-envelope"></i> hightowerkeepfit@gmail.com <br>
                    <i class="fa fa-envelope"></i> wellnessforgreatnesskenya@gmail.com
                  </p>
                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-lg-4">

              <div class="form">

                <h4>Send us a message</h4>
                <p>You are more than welcomed to leave your contact info and we will be in touch shortly</p>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                      data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                      data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                      data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                      data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>

                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage"></div>

                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->